{% # Product Image - Left Column %}

<div class="product-left-column">
  <div class="product-image-section">
    {% if product.featured_image %}
      <img
        src="{{ product.featured_image | image_url: width: 600 }}"
        alt="{{ product.featured_image.alt }}"
        loading="lazy"
      >
    {% endif %}
  </div>
</div>
