{% paginate collection.products by 24 %}
<div id="qb-root"></div>
<div class="qb-pagination">
  {{ paginate | default_pagination }}
</div>
{% endpaginate %}

{% schema %}
{
  "name": "QB Wholesale Collection",
  "settings": [],
  "presets": [
    {
      "name": "QB Wholesale Collection"
    }
  ]
}
{% endschema %}