<!-- QuickBee Homepage Template -->
<main id="MainContent" class="content-for-layout focus-none" role="main" tabindex="-1">
  {% section 'quickbee-homepage' %}
  {% section 'promotional-banners' %}
</main>

{% section 'footer' %}
